:root {
  --ion-color-primary: #e91e8c;
  --ion-color-primary-rgb: 233, 30, 140;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #cd1a7b;
  --ion-color-primary-tint: #ec3598;
}
