<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="services" routerLink="/carwash/services">
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Services</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="bookings" routerLink="/carwash/bookings">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Bookings</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="my-account" routerLink="/carwash/my-account">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>My Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
